* {
    box-sizing: border-box;
}

section.hospedaje {
    position: relative;
    top: 80px;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

p.txt-1 {
    position: absolute;
    width: 480px;
    height: 36px;
    left: 481px;
    top: 830px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 65px;
}

p.txt-2 {
    position: absolute;
    width: 704px;
    height: 56px;
    left: 335px;
    top: 904px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

section.perro {
    background: url(../img/perro.png);
    position: absolute;
    width: 200px;
    height: 187px;
    left: 417px;
    top: 1026px;
}

p.perro-1 {
    position: absolute;
    width: 99px;
    height: 28px;
    left: 468px;
    top: 1245px;
    font-weight: 400;
    font-size: 32px;
}

section.gato {
    background-image: url(../img/gato.png);
    position: absolute;
    width: 167px;
    height: 173px;
    left: 837px;
    top: 1033px;
}

p.gato-1 {
    position: absolute;
    width: 97px;
    height: 28px;
    left: 872px;
    top: 1247px;
    font-weight: 400;
    font-size: 32px;
}

.hotel-perro {
    border: gray;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}