* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
}
/* icons */

/*  */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
}
.contact-container h3 {
  font-size: 30px;
  padding: 30px 0;
  text-align: center;
}

.info-contact-container {
  width: 1200px;
  max-width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background-color: rgb(63, 63, 63);
  color: #fff;
  gap: 40px;
}
.info-contact {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}
.info-contact .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.info-contact .info-container a img {
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.info-contact .info-container a img:hover {
  zoom: 1.1;
}
.info-container .txt-horarios {
  width: 250px;
}

/* redes sociales */
.redes-icons {
  text-align: center;
  height: auto;
  font-size: 30px;
}
.redes-icons > .siguenos {
  margin: 0;
  padding: 0;
}

.redes-icons .container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.redes-icons .container-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
}
.redes-icons .container-icons .icon a img {
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  zoom: 1;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.redes-icons .container-icons .icon a img:hover {
  zoom: 1.2;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

/* styles mapa */
#map {
  height: 400px;
  width: 100%;
}

.contact-container .map {
  width: 50%;
}
